aiohttp
aiosignal
anyio
argilla
async-timeout
attrs
backoff
certifi
cffi
charset-normalizer
chromadb
click
clickhouse-connect
colorama
commonmark
cryptography
dataclasses-json
Deprecate
duckdb
et-xmlfile
faiss-cpu
fastapi
filelock
frozenlist
fsspec
greenlet
h11
hnswlib
httpcore
httptools
httpx
huggingface-hub
idna
importlib-metadata
Jinja2
joblib
langchain==0.0.161
lxml
lz4
Markdown
MarkupSafe
marshmallow
marshmallow-enum
monotonic
mpmath
msg-parser
multidict
mypy-extensions
networkx
nltk
numexpr
numpy
olefile
openai
openapi-schema-pydantic
openpyxl==3.1.2
packaging
pandas
pdfminer.six==20221105
Pillow
posthog
pycparser
pydantic
Pygments
pypandoc
pypdf
python-dateutil
python-docx
python-dotenv
python-magic
python-pptx
pytz
PyYAML
regex
requests
rfc3986
rich
scikit-learn
scipy
sentence-transformers
sentencepiece
six
sniffio
SQLAlchemy
starlette
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
torch
torchvision
tqdm
transformers
typing-inspect
typing_extensions
unstructured
urllib3
uvicorn
watchfiles
websockets
wrapt
XlsxWriter
yarl
zipp
zstandard
